In [167]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import ta

In [168]:
'''df=pd.read_csv('C:/Users/ETOUNDI/Downloads/Out_71.csv')
df.columns = ["Unnamed: 0","date","close","Open","High","Low"]
df=df.set_index('date')
df'''
df = pd.read_csv('C:/Users/ETOUNDI/Downloads/Out_106.csv')
df.columns = ["1","date", "close", "Open", "High", "Low","vol"]
df.drop(columns = df.columns.difference(["date", "close", "Open", "High", "Low"]), inplace = True)
df = df.set_index('date')
df

             close    Open    High     Low
date
2022-07-29  157.69  160.14  155.17  159.10
2022-08-01  157.25  165.19  155.23  159.93
2022-08-02  158.31  162.24  158.01  160.19
2022-08-03  162.69  169.54  161.57  168.80
2022-08-04  168.29  172.15  166.80  170.57
...            ...     ...     ...     ...
2024-02-26  483.47  486.14  480.60  481.74
2024-02-27  479.98  487.27  479.92  487.05
2024-02-28  485.00  491.05  482.75  484.02
2024-02-29  488.44  491.70  482.61  490.13
2024-03-01  492.11  504.25  491.85  502.30

[400 rows x 4 columns]

In [169]:
#del df['Unnamed: 0']

In [170]:
df['SMA50']=ta.trend.sma_indicator(df['close'],50)
df['SMA200']=ta.trend.sma_indicator(df['close'],200)
df["SMA10"] = ta.trend.sma_indicator(df['close'],10)
df["SMA20"] = ta.trend.sma_indicator(df['close'],20)
df

,close,Open,High,Low,SMA50,SMA200,SMA10,SMA20
date,,,,,,,,
2022-07-29,157.69,160.14,155.17,159.10,NaN,NaN,NaN,NaN
2022-08-01,157.25,165.19,155.23,159.93,NaN,NaN,NaN,NaN
2022-08-02,158.31,162.24,158.01,160.19,NaN,NaN,NaN,NaN
2022-08-03,162.69,169.54,161.57,168.80,NaN,NaN,NaN,NaN
2022-08-04,168.29,172.15,166.80,170.57,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-02-26,483.47,486.14,480.60,481.74,398.3452,323.48125,473.435,455.4305
2024-02-27,479.98,487.27,479.92,487.05,401.2662,324.70030,474.614,459.6805
2024-02-28,485.00,491.05,482.75,484.02,404.2892,325.96005,477.427,463.7510
2024-02-29,488.44,491.70,482.61,490.13,407.4182,327.21855,479.478,468.7230
2024-03-01,492.11,504.25,491.85,502.30,410.5108,328.49450,481.161,473.6315

In [ ]:
plt.figure(figsize=(16,6))
plt.plot(df["close"])
plt.plot(df["SMA10"])
plt.plot(df["SMA20"])
plt.plot(df["SMA50"])
plt.plot(df["SMA200"])
plt.show()

In [ ]:
def buy_condition(df,last_price):   
    if df['SMA10'][last_price]>df['SMA20'][last_price]:
        return True
    return False

In [ ]:
usdt=1000
coin = 0
free = 0.00087
last_price = df.first_valid_index()
trade = []
take_profit = 100000
stop_loss = 0
for index,row in df.iterrows():
    if buy_condition(df,last_price) and  usdt>0:
        coin = usdt/df['close'][last_price] 
        coin = coin-coin*free
        usdt=0
        buy_data= {
            "date":index,
            "close":df['close'][last_price],
            "position":"buy",
            "reason":"market",
            "coin":coin,
            "usdt":usdt,
            "free":free
        }
        trade.append(buy_data)
    elif df['SMA10'][last_price]<df['SMA20'][last_price] and coin>0: 
        usdt+=coin*df['close'][last_price] 
        usdt = usdt - usdt*free
        coin = 0
        sell_data = {"date":index,
                     "close":df['close'][last_price],
                     "position":"sell",
                     "reason":"market",
                     "coin":coin,
                     "usdt":usdt,
                     "free":free
        }
        trade.append(sell_data)

   
    last_price = index  
df_trades=pd.DataFrame(trade)

In [ ]:
df_trades

In [162]:
df_trades.usdt.max()

65720.67731346804

In [163]:
usdt=usdt+coin*df['close'].iloc[-1]
print(usdt)
#plt.plot(trade)

40497.7528655965

In [164]:
print((1000/df["close"].iloc[0]*df["close"].iloc[-1]))

103537.1383893667