In [3]:
import pandas as pd
import ta

In [6]:
df = pd.read_csv('C:/Users/ETOUNDI/Downloads/FETUSD.csv')
df

,Unnamed: 0,timestamp,open,close,high,low,volume
0,0,2024-10-22 17:00:00,1.34490,1.34510,1.34510,1.34490,663.845042
1,1,2024-10-22 16:00:00,1.34990,1.33920,1.34990,1.33810,1198.703534
2,2,2024-10-22 15:00:00,1.36230,1.35950,1.36230,1.35580,15.671524
3,3,2024-10-22 14:00:00,1.35160,1.36400,1.36820,1.35160,362.204741
4,4,2024-10-22 13:00:00,1.35440,1.34750,1.38050,1.34000,2643.736119
...,...,...,...,...,...,...,...
9995,9995,2023-08-26 10:00:00,0.20777,0.20811,0.20811,0.20777,42.000000
9996,9996,2023-08-26 09:00:00,0.20806,0.20816,0.20816,0.20806,34.616400
9997,9997,2023-08-26 08:00:00,0.20850,0.20866,0.20866,0.20817,73.766266
9998,9998,2023-08-26 07:00:00,0.20897,0.20914,0.20914,0.20833,3092.335045
9999,9999,2023-08-26 06:00:00,0.20949,0.20974,0.21009,0.20949,69.820747

In [9]:
df2 = ta.wrapper.add_volatility_ta(df,close='close',high='high',low='low')

In [10]:
df2

,Unnamed: 0,timestamp,open,close,high,low,volume,volume_adi,volume_obv,volume_cmf,...,volatility_kcp,volatility_kchi,volatility_kcli,volatility_dcl,volatility_dch,volatility_dcm,volatility_dcw,volatility_dcp,volatility_atr,volatility_ui
0,0,2024-10-22 17:00:00,1.34490,1.34510,1.34510,1.34490,663.845042,6.638450e+02,6.638450e+02,NaN,...,0.666667,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
1,1,2024-10-22 16:00:00,1.34990,1.33920,1.34990,1.33810,1198.703534,-3.113714e+02,-5.348585e+02,NaN,...,0.123611,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
2,2,2024-10-22 15:00:00,1.36230,1.35950,1.36230,1.35580,15.671524,-3.092015e+02,-5.191870e+02,NaN,...,1.361261,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
3,3,2024-10-22 14:00:00,1.35160,1.36400,1.36820,1.35160,362.204741,-1.302811e+02,-1.569822e+02,NaN,...,1.185185,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
4,4,2024-10-22 13:00:00,1.35440,1.34750,1.38050,1.34000,2643.736119,-1.794856e+03,-2.800718e+03,NaN,...,0.325397,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,2023-08-26 10:00:00,0.20777,0.20811,0.20811,0.20777,42.000000,2.454221e+06,1.009682e+06,0.148103,...,0.443779,0.0,0.0,0.20648,0.21073,0.208605,2.038829,0.383529,0.001735,2.367087
9996,9996,2023-08-26 09:00:00,0.20806,0.20816,0.20816,0.20806,34.616400,2.454256e+06,1.009717e+06,0.140755,...,0.444128,0.0,0.0,0.20648,0.21073,0.208605,2.039998,0.395294,0.001571,2.205880
9997,9997,2023-08-26 08:00:00,0.20850,0.20866,0.20866,0.20817,73.766266,2.454329e+06,1.009791e+06,0.160286,...,0.675456,0.0,0.0,0.20648,0.21073,0.208605,2.040552,0.512941,0.001464,1.991044
9998,9998,2023-08-26 07:00:00,0.20897,0.20914,0.20914,0.20833,3092.335045,2.457422e+06,1.012883e+06,0.797060,...,0.887821,0.0,0.0,0.20648,0.21073,0.208605,2.040111,0.625882,0.001399,1.792042
9999,9999,2023-08-26 06:00:00,0.20949,0.20974,0.21009,0.20949,69.820747,2.457410e+06,1.012953e+06,0.813977,...,1.085745,1.0,0.0,0.20648,0.21073,0.208605,2.039519,0.767059,0.001354,1.506127